.luachon{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 45px;
    background-color: orange;
    margin-left: -8px;
    margin-bottom: 60px;
    z-index: 9999;
    box-shadow: 2px 2px 20px 0.2px #ccc;
}

.luachon__left{
    display:flex;
    justify-content: space-evenly;
    margin-left: 30px;
}

.luachon__right{
    display: flex;
    justify-content: space-evenly;
    margin-right: 80px;
}

.luachon--item{
    background-color: orange;
    color: #000;
    font-weight: bold;
    padding: 2rem;
    position: relative;
    transition: 0.65s;
}

a.luachon--item{
    text-decoration: none;
}

.luachon--item--danhsach{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 0 2rem 0;
    width: 100%;
    align-items: center;
}

.luachon--item--danhsach .item{
    background: transparent;
    text-decoration: none;
    color: #000;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

a.flex-column{
    padding-right: 3rem;
    padding-left: 3rem;
}

a.flex-column > span{
    position: absolute;
    transform: translateY(150%);
    left: 22%;
    transition: 0.65s;
    opacity: 0;
    background-color: rgb(206, 143, 26);;
}

.luachon--item:hover{
    background-color: rgb(206, 143, 26);
}

.luachon--item::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 60%;
    border-style: solid;
    border-radius: 50%; 
    left: 21%;
    transform: translateY(-40%);
    border-color: #fff;
    box-shadow: 0 -10px 20px 0.5px rgb(77, 76, 76);
    transition: 0.65s;
    opacity: 0;
}

.luachon--item:hover > span{
    transform: translateY(100%);
    transition-delay: 0.3s;
    opacity: 1;
}

.luachon--item > i{
    transition: transform 0.65s;
    background: transparent;
}

.luachon--item:hover > i{
    transform: matrix(1.5,0,0,1.5,0,-40);/*matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())*/
}

.luachon--item:hover::after{
    transform: translateY(-100%);
    opacity: 1;
}

.luachon--item:hover #dichvu{
    transform: translateY(100%);
    transition-delay: 0.3s;
    opacity: 1;
}

.luachon--item{
    cursor: pointer;
}

.mucluc{
    display:none;
}

@media (max-width: 1108px){
    #mobile{
        width: 30%;
    }

    .luachon--mobile{
        width: 150px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    .mucluc{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        border: solid;
        box-shadow: 10px lightgreen;
        cursor:pointer;
        left: 0;
    }

    .luachon{
        height: 0;
        max-width: 150px;
        display: flex;
        position: absolute;
        flex-direction: column;
        margin-left: 0px;
        left: 0;
    }

    .luachon__left{
        flex-direction: column;
        margin-left: 0px;
    }

    .luachon--item{
        border-bottom: solid 2px #ccc;
    }

    .luachon__right{
        flex-direction: column;
        margin-right: 0px;
    }

    .mucluc:hover {
        opacity: 0.8;
    }
}